<div class="section">
    <h2>Languages</h2>
    <hr>
    {{#each languages}}
        <div class="item">
            <span class="item-title">{{language}}:</span>
            <span class="secondary">{{fluency}}</span>
        </div>
    {{/each}}
</div>
