<div class="section">
    <h2>References</h2>
    <hr>
    {{#each references}}
        <div class="item">
            <div class="item-title">{{name}}</div>
            <p class="secondary">{{reference}}</p>
        </div>
    {{/each}}
</div>
