<div class="section">
    <h2>Skills</h2>
    <hr>
    {{#each skills}}
        <div class="item">
            <span class="item-title">{{name}}:</span>
            <span class="secondary">{{keywords}}</span>
        </div>
    {{/each}}
</div>
