<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{basics.name}} - Resume</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    <div class="container">
        {{> header}}
        {{> summary}}
        {{#if education}}
        {{> section title="Education" items=education}}
        {{/if}}
        {{#if work}}
        {{> section title="Experience" items=work}}
        {{/if}}
        {{#if projects}}
        {{> section title="Projects" items=projects}}
        {{/if}}
        {{#if certificates}}
        {{> section title="Certificates" items=certificates}}
        {{/if}}
        {{#if publications}}
        {{> section title="Publications" items=publications}}
        {{/if}}
        {{#if awards}}
        {{> section title="Awards" items=awards}}
        {{/if}}
        {{#if languages}}
        {{> languages}}
        {{/if}}
        {{#if skills}}
        {{> skills}}
        {{/if}}
        {{#if interests}}
        {{> interests}}
        {{/if}}
        {{#if references}}
        {{> references}}
        {{/if}}
    </div>
</body>
</html>
